*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;
}

.container{
    width:85vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 20px solid white;
    border-radius: 8px;

}

.wrapper{
    width:100%;
    display: flex;
    animation: slide 9s infinite;
    aspect-ratio: 16/9;

}

img{
    width:100%;
    aspect-ratio: 16/9;

}

@keyframes slide {
    0%, 20% { transform: translateX(0); } 
    25%, 45% { transform: translateX(-100%); }
    50%, 70% { transform: translateX(-200%); } 
    75%, 95% { transform: translateX(0); }  
}