body {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


.card{
    width: 300px;
    margin-right: 26px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease , box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    background-color: #f1f1f1;
}
.card img {
    width: 100%;
    height: auto;
    
}

.card-content{
    text-align: center;
}

.card-title {
    font-size: 26px;
    margin: 0;
    color: #333;
}

.card-description {
    font-size: 12px;
    color: #666;
    padding:10px;
}


@media (max-width: 768px) {
    .container {
        grid-template-columns:  1fr
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        grid-template-columns:  repeat(2, 1fr)
    }
}
