body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    align-items: center;
}


.card{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease , box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    background-color: #f1f1f1;
}
.card img {
    width: 100%;
    height: auto;
    
}

.card-content{
    text-align: center;
}

.card-title {
    font-size: 26px;
    margin: 0;
    color: #333;
}

.card-description {
    font-size: 12px;
    color: #666;
    padding:10px;
}



